In [11]:
import pandas as pd

In [12]:
data = pd.read_csv("parks.csv", index_col = ["Park Code"])

In [13]:
data.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [14]:
data.iloc[2]

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [15]:
data.loc['BADL']

Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: BADL, dtype: object

In [16]:
data.loc[['BADL', 'ARCH', 'ACAD']]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [17]:
data.iloc[[ 2, 1, 0 ]]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75    -102.50
ARCH         Arches National Park    UT   76519     38.68    -109.57
ACAD         Acadia National Park    ME   47390     44.35     -68.21

In [18]:
data[:3]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [19]:
data.state.head(3)

AttributeError: 'DataFrame' object has no attribute 'state'

In [ ]:
data.Park Code

In [ ]:
data.columns = [ col.replace(' ', '_').lower() for col in data.columns ]
print(data.columns)

In [ ]:
data[[ 'state', 'acres' ]][:3]

In [ ]:
data.state.iloc[2]

In [ ]:
data.state.iloc[[2]]

In [ ]:
data[data.state == 'UT']

In [ ]:
data[ (data.latitude > 60) | (data.acres > 10 ** 6)].head(3)

In [ ]:
data[ data['park_name'].str.split().apply(lambda x: len(x) == 3)].head(3)