In [8]:
import pandas as pd, numpy as np

In [2]:
data = pd.read_csv("parks.csv")

In [5]:
data.describe()

              Acres   Latitude   Longitude
count  5.600000e+01  56.000000   56.000000
mean   9.279291e+05  41.233929 -113.234821
std    1.709258e+06  10.908831   22.440287
min    5.550000e+03  19.380000 -159.280000
25%    6.901050e+04  35.527500 -121.570000
50%    2.387645e+05  38.550000 -110.985000
75%    8.173602e+05  46.880000 -103.400000
max    8.323148e+06  67.780000  -68.210000

In [9]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [10]:
df['four'] = 'bar'

In [11]:
df['five'] = df['one'] > 0

In [12]:
df

        one       two     three four   five
a  0.590183 -0.357043 -0.693872  bar   True
c  2.135153 -1.367675 -2.205610  bar   True
e  0.030812  0.159099 -0.152263  bar   True
f -0.219775 -0.020607 -1.086164  bar  False
h -0.002980 -0.368437 -0.824111  bar  False

In [13]:
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [14]:
df

        one       two     three four   five
a  0.590183 -0.357043 -0.693872  bar   True
b       NaN       NaN       NaN  NaN    NaN
c  2.135153 -1.367675 -2.205610  bar   True
d       NaN       NaN       NaN  NaN    NaN
e  0.030812  0.159099 -0.152263  bar   True
f -0.219775 -0.020607 -1.086164  bar  False
g       NaN       NaN       NaN  NaN    NaN
h -0.002980 -0.368437 -0.824111  bar  False

In [15]:
df2 = df.copy()

In [16]:
df2['timestamp'] = pd.Timestamp('20190812')

In [17]:
df2

        one       two     three four   five  timestamp
a  0.590183 -0.357043 -0.693872  bar   True 2019-08-12
b       NaN       NaN       NaN  NaN    NaN 2019-08-12
c  2.135153 -1.367675 -2.205610  bar   True 2019-08-12
d       NaN       NaN       NaN  NaN    NaN 2019-08-12
e  0.030812  0.159099 -0.152263  bar   True 2019-08-12
f -0.219775 -0.020607 -1.086164  bar  False 2019-08-12
g       NaN       NaN       NaN  NaN    NaN 2019-08-12
h -0.002980 -0.368437 -0.824111  bar  False 2019-08-12

In [18]:
df2.loc[['a', 'c', 'h'], ['one', 'timestamp']] = np.nan

In [19]:
df2

        one       two     three four   five  timestamp
a       NaN -0.357043 -0.693872  bar   True        NaT
b       NaN       NaN       NaN  NaN    NaN 2019-08-12
c       NaN -1.367675 -2.205610  bar   True        NaT
d       NaN       NaN       NaN  NaN    NaN 2019-08-12
e  0.030812  0.159099 -0.152263  bar   True 2019-08-12
f -0.219775 -0.020607 -1.086164  bar  False 2019-08-12
g       NaN       NaN       NaN  NaN    NaN 2019-08-12
h       NaN -0.368437 -0.824111  bar  False        NaT

In [20]:
df2.fillna(0)

        one       two     three four   five            timestamp
a  0.000000 -0.357043 -0.693872  bar   True                    0
b  0.000000  0.000000  0.000000    0      0  2019-08-12 00:00:00
c  0.000000 -1.367675 -2.205610  bar   True                    0
d  0.000000  0.000000  0.000000    0      0  2019-08-12 00:00:00
e  0.030812  0.159099 -0.152263  bar   True  2019-08-12 00:00:00
f -0.219775 -0.020607 -1.086164  bar  False  2019-08-12 00:00:00
g  0.000000  0.000000  0.000000    0      0  2019-08-12 00:00:00
h  0.000000 -0.368437 -0.824111  bar  False                    0

In [21]:
df2['one'].fillna('missing')

a      missing
b      missing
c      missing
d      missing
e    0.0308125
f    -0.219775
g      missing
h      missing
Name: one, dtype: object

In [22]:
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan

In [23]:
df

      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

In [24]:
df.style.highlight_null().render().split('\n')[:10]

['<style  type="text/css" >',
 '    #T_b1d42dde_beaf_11e9_a068_87f2b4964bd1row0_col2 {',
 '            background-color:  red;',
 '        }</style><table id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >A</th>        <th class="col_heading level0 col1" >B</th>        <th class="col_heading level0 col2" >C</th>        <th class="col_heading level0 col3" >D</th>        <th class="col_heading level0 col4" >E</th>    </tr></thead><tbody>',
 '                <tr>',
 '                        <th id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1level0_row0" class="row_heading level0 row0" >0</th>',
 '                        <td id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1row0_col0" class="data row0 col0" >1</td>',
 '                        <td id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1row0_col1" class="data row0 col1" >1.32921</td>',
 '                        <td id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1row0_col2" class="data row0 col2" >nan</td>',
 '                        <td id="T_b1d42dde_beaf_11e9_a068_87f2b4964bd1row0_col3" class="data row0 col3" >-0.31628</td>']

In [41]:
def color_negative_red(val):
    color = 'red' if val < 0 else 'green'
    return 'color: %s' % color

In [42]:
s = df.style.applymap(color_negative_red)
s

In [38]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [39]:
df.style.apply(highlight_max)

In [40]:
df.style.\
    applymap(color_negative_red).\
    apply(highlight_max)